datetime
streamlit
pandas
numpy == 1.23.5
matplotlib == 3.9.2
seaborn == 0.12.2
scikit-learn
requests
pathlib
plotly
spacy == 3.7.2
sphinx
coverage
## on enlève pickle qui n'est pas disponible en tant que package à installer.